.app{
  padding-left: 12px;
  padding-top: 12px;
}
.info{
  padding: 3px;
  background-color: #cc99ff;
  font-size: 1.8em;
  color: white;
  width: 127px;
}
.card{

  padding: 4px;
  width: 120px;
  margin-bottom: 6px;
}
p{
  margin: 0px;
}
